.grid-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3%;
    margin: auto;
    width: 50%;
    height: 700px;
    
  } 
  


  

.carte {
    
    border: solid 7px green;
    border-radius: 5px;
    background-color: #285a6d;
    color: white;
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transform-style: preserve-3d; /* Nécessaire pour l'effet 3D */
    transition: transform 0.6s; /* Animation fluide */
}

.carte.flipped {
    animation: flip 1s  forwards;
    content-visibility: hidden;
    
}
@keyframes flip {
    0% {
        transform: rotateY(0deg);

    }
    50% {
        transform: rotateY(90deg); /* Rotation pour le flip */
        background-color: #285a6d; /* Change la couleur après le flip */
        }
    
    100% {
        transform: rotateY(180deg); /* Rotation pour le flip */
        background: url("./images/sushi1.avif");/* Change la couleur après le flip */
        background-position: center;
        background-size: cover;

  
    }
  
}

@keyframes reverseflip {
  0% {
      transform: rotateY(180deg);
      background: url("./images/sushi1.avif"); /* Change la couleur après le flip */
      background-position: center;
      background-size: cover;

  }
  50% {
      transform: rotateY(90deg); /* Rotation pour le flip */
      background: url("./images/sushi1.avif"); /* Change la couleur après le flip */
      background-position: center;
      background-size: cover;
      }
  
  100% {
      transform: rotateY(0deg); /* Rotation pour le flip */
      background-color: #285a6d;
      content-visibility: visible;
       /* Change la couleur après le flip */


  }

}

.noflipped {
  animation: reverseflip 5s forwards;
  
}
    

  
  

